<link rel="stylesheet" href="home.css">



  <h1><p>pano</p></h1>
  <div class="about">
    <p>Welcome to Pano! The goal of this blog is to allow users to gain a panoramic view on life. Share your perspective, observations, ideas and aspirations, and learn from that of others. This is the perfect place to host debates/discussions, just keep them respectful! </p>
  </div>

<div class="sign">
  <p>What do you know?</p>
  <form>

  <button id ="but"type="submit" formaction="profile">view as guest</button>
  <button id ="but"type="submit" formaction="/signup">Signup!</button>
  <button id= but type="submit" formaction="/login">login</button>
</form>
</div>

<div class="content">
  <p>learn and share </p>
  <div class="more">
<p>Why use pano?</p>

 <br>
<br>
<h6>Who We Are</h6>
<p id= "more">
  Pano dosent tell you what to belive, but we can help you see clearly. Gain access to thousands of people worldwide who are experiencing situations live and want to share with our online communtity. Pano is a grgeat way way to live vicariously and gain the expeirence of others without greedy cooporations or byus news feeds adulterating the informationuour expeirence </p>
  </div>
</div>
