<link rel="stylesheet" href="home.css">



  <h1><p>pano</p></h1>
  <div class="about">
    <p>Welcome to Pano! The goal of this blog is to allow users to gain a panoramic view on life. Share your perspective, observations, ideas and aspirations, and learn from that of others. This is the perfect place to host debates/discussions, just keep them respectful! </p>
  </div>

<div class="sign">
  <p>What do you know?</p>
  <form>

  <button id ="but"type="submit" formaction="profile">view as guest</button>
  <button id ="but"type="submit" formaction="/signup">Signup!</button>
  <button id= but type="submit" formaction="/login">login</button>
</form>
</div>

<div class="content">
  <p>learn and share </p>
  <div class="more">

  </div>
</div>
