<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>pano</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="navbar">


      <a href="/"><img src="https://www.stickpng.com/assets/thumbs/588a666dd06f6719692a2d18.png" alt=""height="15%" width="15%"></a>
      <a href="/signup"><img src="https://banner2.cleanpng.com/20180404/zpw/kisspng-logo-brand-font-sign-up-button-5ac4ca71489bd7.6513004215228463212974.jpg" alt=""height="15%" width="15%"></a>
      <a href="/profile"><img src="https://image.shutterstock.com/image-vector/identification-card-icon-id-profile-260nw-1101903458.jpg" alt="" height="15%" width="15%"></a>
      <a href="/login">Log in</a>
      <a href="/logout">Log out</a>
    </div>
    <%= yield %>

  </body>
</html>
