<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>pano</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime|Modak&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="logo">
      <img src="logo.png" alt="our logo">


    <div class="navbar">


      <a href="/">home</a>
      <a href="/signup">signup</a>
      <a href="/profile">profile</a>
      <a href="/login">Log in</a>
      <a href="/logout">Log out</a>
    </div>
    <%= yield %>

  </body>
</html>
