<link rel="stylesheet" href="signup.css">
<link rel="stylesheet" href="login.css">
<p>show and learn today! </p>
<p id = "welcome">Welcome Back! </p>

<div class="start">
  <form action="/login"  method="post">
  <input id="email" type="email" placeholder="Enter your email" name="email"><br>
  <input id="password" type="password" placeholder="enter your password" name="password"><br>
  <input id="sub" type="submit" value="endow Us!"><br>
</form>
</div>
