<link rel="stylesheet" href="profile.css">
<link rel="stylesheet" href="main.css">
  <div class="start">
    <img id="prof-img" src="" alt="users profile image">
    <h1> <% session[:user_id] %> </h1>
    <h1> <% user = User.find_by(id:session[:user_id]) %> </h1>
    <h1> <%= "Welcome #{user.firstname }" %> </h1>
    <h1>Whats on your mind?</h1>
    <p id = "started">Get started Today! </p>
  </div>


    <form class="" method="post">

    <input class="post-title" type="text" placeholder="About?" name="post[title]"><br>
    <input class="userpost" type="text" placeholder="Share your insight" name="post[content]"><br>
    <button id ="post"type="submit" formaction="/profile" method="post">endow us </button>

  </form>





  <%   @post = Post.all %>
  <div class="tab">
  <% @post.each do |post| %>

    <h1 id="title">Title:<%= post.title %></h1>
    <h2 id="content">speak:<%= post.content %></h2>
    <p>-----------------------------------------------------------------------------------------</p>
    <% end %>
  </div>
  <a href=" /delete">Delete</a>
