<link rel="stylesheet" href="signup.css">
<div class="start">
  <form class=""  method="post">
  <input type="email" placeholder="ur email" name="user[email]"><br>
  <input type="password" placeholder="create password " name="user[password]"><br>
  <input type="submit" value="signup"><br>
</form>
</div>
