<link rel="stylesheet" href="signup.css">
<p>show and learn today! </p>
<div class="start">
  <p id = "started">Get started Today! </p>
  <form class=""  method="post">
  <input class="name" type="name1" placeholder="Enter your first name " name="user[firstname]"><br>
  <input class="name" type="name2" placeholder="Enter your last name " name="user[lastname]"><br>
  <input id="email" type="email" placeholder="Enter your email" name="user[email]"><br>
  <input id="password" type="password" placeholder="Create a password " name="user[password]"><br>
  <input id="sub" type="submit" value="submit to our server"><br>
</form>
</div>
