body{
  background-image: url("home.png");
  background-size: cover;
  background-size: 100%;
  z-index: -1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.navbar a{
  color: white;
}

h1{
  font-size: 300%;
  font-family: 'Modak', cursive;
  margin-left: 49%;
  margin-bottom: 13%;
  background-size: contain;
  color: white;
}


.about{
font-family: 'Courier Prime', monospace;
background-color: rgba(104, 0, 0, 0.5);
padding: 1%;
margin-right: 20%;
margin-left: 20%;
margin-top: -10%;
color:white;

}

.sign{
margin-left: 41%;
display: block;
color: white;
}

#but{
  font-family: 'Nunito', sans-serif;
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#h{
  margin-left: 43%;
}

#more{
  background-color: white;
  font-family: monospace;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 20%;
  padding-top: 5%;
}
